*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.formu {
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
}

.formu input {
    width: 300px;
    font-size: 12px;
}

